.navBar {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.navBar>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.navBar>ul>li {
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
    letter-spacing: -1px;
}

.navBar>ul>li>a:hover {}

#proyectos {
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}