#habilidadesPres {
    background-color: rgb(233, 178, 0);
    flex-direction: column;
    text-align: center;
}

.filaHabilidades {
    display: flex;
    margin: 0 auto;
}

.filaHabilidades>div {
    padding: 100px;
}

.barrasHabilidad {
    margin-top: -50px;
}

.barra {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid white;
    height: 25px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
}

.barra>p {
    position: absolute;
    padding-left: 185px;
    padding-top: 2.5px;
    color: white;
    font-weight: bolder;
}

.barra__relleno {
    color: white;
    font-weight: bold;
    padding-top: 3px;
    height: 25px;
    border-radius: 15px;
}

#html {
    background-color: rgb(204, 65, 10);
    width: 0px;
}

#css {
    background-color: #1572B6;
    width: 0px;
}

#java {
    background-color: #b66b15;
    width: 0px;
}

#swift {
    background-color: #b61515;
    width: 0px;
}

#sql {
    background-color: #4015b6;
    width: 0px;
}

#git {
    background-color: #15b673;
    width: 0px;
}

#habilidadesPres:hover #html {
    animation-name: animacionHTML;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#habilidadesPres:hover #css {
    animation-name: animacionCSS;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#habilidadesPres:hover #java {
    animation-name: animacionJAVA;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#habilidadesPres:hover #swift {
    animation-name: animacionSWIFT;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#habilidadesPres:hover #sql {
    animation-name: animacionSQL;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#habilidadesPres:hover #git {
    animation-name: animacionGIT;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes animacionHTML {
    to {
        width: 390px;
    }
}

@keyframes animacionCSS {
    to {
        width: 350px;
    }
}

@keyframes animacionJAVA {
    to {
        width: 300px;
    }
}

@keyframes animacionSWIFT {
    to {
        width: 365px;
    }
}

@keyframes animacionSQL {
    to {
        width: 310px;
    }
}

@keyframes animacionGIT {
    to {
        width: 400px;
    }
}