#habilidadesPres {
    background-color: rgb(233, 178, 0);
    flex-direction: column;
    text-align: center;
}

.barra {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid white;
    height: 25px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
}

.barra__relleno {
    color: white;
    font-weight: bold;
    padding-top: 3px;
    height: 25px;
    border-radius: 15px;
}

#primeraBarra {
    margin-top: 100px;
}

#html {
    background-color: rgb(204, 65, 10);
    width: 390px;
}

#css {
    content: '';
    background-color: #1572B6;
    width: 0px;
}

#habilidadesPres:hover #css {
    animation-name: bar-progress-99;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes bar-progress-99 {
    to {
        width: 400px;
    }
}